
a:link {
    font-weight: bold;
    text-decoration: none;
    color: #6495ed;
}
a:visited {
    font-weight: bold;
    text-decoration: none;
    color:#6495ed;
}
a:hover, a:focus, a:active {
    text-decoration: underline;
    color: blueviolet;;
}
td {
    font-size: larger;
}
head {
    background: aliceblue
}
body {
    background:  aliceblue  url(http://csszengarden.com/001/blossoms.jpg)   bottom  right;
}