
a:link {
    color: blue;
}

a:visited {
    color: cornflowerblue;
}

a:hover {
    color: blueviolet;
    font-size: 50px;
}

a:active {
    color: red;
}
head {
    background: aliceblue
}
body {
    background: #fff url(http://csszengarden.com/001/blossoms.jpg) no-repeat bottom right;
}